<div class="row">
    <div class="col-xs-12">
      <h3>Adding new Servers or Blueprints</h3>
      <label>Server Name</label>
      <input type="text" id="serverName" class="form-control" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input type="text" id="serverContent" class="form-control" [(ngModel)]="newServerContent">
      <button type="button" class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <button type="button" class="btn btn-primary" (click)="onAddServerBluePrint()">Add Server Blueprint</button>
    </div>
  </div>