<div class="card">
    <div class="card-header">
      <i class="icon-home"></i> <b>Home</b>
    </div>
    <div class="card-body">
        Outreach Reporting Application is a system that helps client to access the Volunteering report which has the below metrics. You want to build a data driven application and empower it with analytics. The whole integration process should run smoothly. The data should be more expressive and build a dashboard with aggregated data in combination with area/bar charts, histograms, etc.
        Participation Metrics
        Engagement Metrics
        Retention Metrics
        Acquisition Metrics
        General Metrics
    </div>