<div class="card">
  <div class="card-header">
    <i class="icon-drop"></i> DashBoard
  </div>
  <div class="card-body">
      <label>Choose Participation Metrics </label>
      <select class="mdb-select md-form colorful-select dropdown-primary" searchable="Search here..">
          <option value="">.........</option>
          <option value="1" >Head Count</option>
          <option value="2">Unique Volunteers</option>
          <option value="3">Total Volunteering Hours</option>
          <option value="3">Coverage</option>
          <option value="3">Avg. Frequency Per Volunteer</option>
        </select>
        <br>
        <button type="button" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary">Cancel</button>
      </div>
      <app-associate-details></app-associate-details>
  </div>