<div class="card">
    <div class="card-header">
      <i class="icon-picture"></i> <b>Generic Metrics DashBoard</b>
    </div>
    <div class="card-body">
        <label> <b>Generic Metrics </b></label>
        <select (change)="onChange($event)" class="mdb-select md-form colorful-select dropdown-primary" searchable="Search here..">
          <option value="">Select</option>
          <option value="1">Unique Volunteer Details</option>
          <option value="1">Unique Volunteer By Day</option>
          <option value="1">Unique Volunteer By Month</option>
          <option value="1">Unique Volunteer By Date</option>
          <option value="1">Volunteer Efforts(Travel Hrs + Volunteer Hrs)</option>
        </select>
        <br>
    </div>