<div>

  <mat-form-field appearance="standard">
    <input matInput placeholder="Filter" type="text" (keyup)="doFilter($event.target.value)">
  </mat-form-field>

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="employeeId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Associate Id </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.employeeId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="employeeName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Asssociate Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.employeeName}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalVolunteerHours">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Total Volunteer Hours </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.totalVolunteerHours}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="livesImpacted">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Lives Impacted </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.livesImpacted}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="totalTravelHours">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Total Travel Hours</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.totalTravelHours}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="eventDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Event Date </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.eventDate}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="volunteerFrequency">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Volunteer Frequency</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.volunteerFrequency}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="baseLocation">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Base Location </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.baseLocation}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="businessUnit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Buiness Unit </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.businessUnit}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</div>