<app-header></app-header>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Let's get you an answer</mat-card-title>
      <mat-card-subtitle>Experts and customers are here, 24/7.</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <form #form="ngForm" (ngSubmit)="getAnswer(form)" novalidate>
    <label for="Comment">Ask your question</label>
    <textarea name="question" ngModel #question="ngModel"  cols="30" rows="10"
      class="form-control"></textarea>

  <button class="btn btn-primary">Submit</button>
</form>
</div>