<app-header></app-header>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Let's get you an answer</mat-card-title>
      <mat-card-subtitle>Experts and customers are here, 24/7.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
          Ask your question
      </p>
    </mat-card-content>
    <form class="example-form">
       
          <textarea matInput placeholder="Leave a comment"></textarea>
      
      </form>
  </mat-card>
</div>